

<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="true" style="width: 240px;">
    <mat-nav-list>

    
      <mat-divider></mat-divider>
      <div class="sidebar-section">
        <div class="sidebar-heading">
          <mat-icon class="sidebar-icon">menu</mat-icon>
          Survey
        </div>
        <div class="menu-item">
          <button mat-button routerLink="/userview">
            <mat-icon class="menu-icon">chevron_right</mat-icon>
            Users Details
          </button>
        </div>
        <div class="menu-item">
          <button mat-button routerLink="/topicdatails">
            <mat-icon class="menu-icon">chevron_right</mat-icon>
            Survey Topic details
          </button>
        </div>
        <div class="menu-item">
          <button mat-button routerLink="/survytable">
            <mat-icon class="menu-icon">chevron_right</mat-icon>
            Survey details
          </button>
        </div>
      </div>

      <mat-divider></mat-divider>
      <div class="sidebar-section">
        <div class="sidebar-heading">
          <mat-icon class="sidebar-icon">assessment</mat-icon>
          Results
        </div>
        <div class="menu-item">
          <button mat-button routerLink="/register">
            <mat-icon class="menu-icon">chevron_right</mat-icon>
            Register
          </button>
        </div>
        <div class="menu-item">
          <button mat-button routerLink="/reportview">
            <mat-icon class="menu-icon">chevron_right</mat-icon>
            Report details
          </button>
        </div>
      </div>

    </mat-nav-list>
  </mat-sidenav>

  <div class="main-content">
   
  </div>
</mat-sidenav-container> -->



<br>
<br>
<div class="Features-section paddingTB60 ">
  <div class="container">
<div class="row">
  <div class="col-md-12 site-heading ">
          <h3>Admin Dashboard</h3>
          <p>Welcome Admin</p>
          <div class="border"></div>
        </div>
</div>
<div class="row">
          <div class="col-sm-6 col-md-3">
            <div class="col-md-12 feature-box">
              <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16" >
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z"/>
              </svg>
              <h4>User</h4>
          
              <button mat-button routerLink="/userview"  id="userview">
                <mat-icon class="menu-icon">chevron_right</mat-icon>
                Users Details
              </button>

            </div>
          </div>
          <div class="col-sm-6 col-md-3" >
              <div class="col-md-12 feature-box">
                <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                  <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
                  <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0M7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"/>
                </svg>
              <h4>Survy Topics</h4>
              
              <button mat-button routerLink="/topicdatails" id="topicdatails">
                <mat-icon class="menu-icon">chevron_right</mat-icon>
                Survey Topic details
              </button>
            </div>
          </div> 
          
          <div class="col-sm-6 col-md-3">
              <div class="feature-box">
                <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-door-closed" viewBox="0 0 16 16">
                  <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3zm1 13h8V2H4z"/>
                  <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0"/>
                </svg>
                <h4>Logout</h4>
          
              <button mat-button routerLink="/Register" id="register">
                <mat-icon class="menu-icon">chevron_right</mat-icon>
                Logout
              </button>
            </div>
          </div> 
          <div class="col-sm-6 col-md-3">
              <div class="col-md-12 feature-box">
                <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-ticket-detailed" viewBox="0 0 16 16">
                  <path d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M5 7a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2z"/>
                  <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6zM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5z"/>
                </svg>
              <h4>Survey Questions</h4>
              
              <button mat-button routerLink="/surveyview" id="surveyview">
                <mat-icon class="menu-icon">chevron_right</mat-icon>
                Survey details
              </button>
            </div>
          </div> 
          

        </div>
</div>
</div>
