<table class="table table-striped" style="margin-top: 20px;">
    <thead class="thead-dark">
    <tr>
        <th><b>topic ID</b></th>
        <th><b>TopicName</b></th>

    </tr>
    </thead>


    <tr  *ngFor="let topic of resultlist ">
        <td>{{topic.topicId}}</td>
        <td>{{topic.topicName}}</td>
       
        <td colspan="2">
            <button mat-icon-button color="warn" (click)="deleteTopic(topic)">
                <mat-icon>delete</mat-icon>
            </button>
            
                <button mat-icon-button color="warn" (click)="openUpdateSurvey(topic)">
                <mat-icon>edit</mat-icon></button>
                

            
        </td>
    </tr>
</table>
<button mat-raised-button color="primary" (click)="openInsertSurvey()">Insert</button>