<table class="table" style="margin-top: 20px;">
    <thead class="thead-dark">
    <tr>
        <th><b>Report ID</b></th>
        <th><b>topic ID</b></th>
        <th><b>User ID</b></th>

    </tr>
    </thead>


    <tr  *ngFor="let Report of repotlist">
        <td>{{Report.reportId}}</td>
        <td>{{Report.topicId}}</td>
        <td>{{Report.userId}}</td>
       
        <td colspan="2">
            <button >delete</button>&nbsp;&nbsp;
            <button>update</button>
        </td>
    </tr>
</table>
